body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  

  #calendar {
    width: 700px;
    text-align: center;
    
  }

  #calendar table {
    width: 100%;
  }

  #calendar th, #calendar td {
    width: 80px;
    height: 50px;
    
    border: 1px solid #000000;
  }
  
  #calendar th {
    background-color: #ff9e20;
  }
  
  #calendar td:hover {
    background-color: #f3ff9a;
  }
  
  
